<html>
<head>

<title>Upload</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/starter-template.css" rel="stylesheet" />
</head>
<body>

	<nav
		class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="">Spring Boot Application</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="upload">Upload
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="all-file">List file</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Source Code</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="starter-template">
			<h1>Demo upload tren Google Drive API</h1>
			
					
			
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>